.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.card-image {
    width: 350px;
    height: auto;
    display: block;
}

.place {
    width: 100%;
    padding: 10px;
    display: grid;
    /*  New Template Columns  */
    grid-template-columns: 0.1fr 3fr 0.5fr 0.3fr;
    border-radius: 5px;
  }