.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.card-image {
    width: 350px;
    height: auto;
    display: block;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1rem;
}

.state-image {
    width: 500px;
    height: auto;
}