{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>U.S. National Parks - {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <script src="{% static 'scripts/main.js' %}" defer></script>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="https://www.nps.gov/theme/assets/dist/images/branding/logo.png" width="25" height="28"><b>National Park Service</b>
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Home
                </a>
          
                <a class="navbar-item" href="/about">
                  About
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="/states">
                    States
                  </a>
                  <div class="navbar-dropdown">
                    {% for state in states %}
                    <a class="navbar-item" href="{% url 'state_detail' state.pk %}">
                        {{state.name}}
                      </a>
                      {% endfor %}       
                </div>
                </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/territories">
                Territories
                </a>
                <div class="navbar-dropdown">
                    {% for territory in territories %}
                    <a class="navbar-item" href="{% url 'territory_detail' territory.pk %}">
                        {{territory.name}}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <!-- <a class="navbar-item" href="/recommend-state-place">
                Recommend New Park
              </a> -->
        
              <div class="navbar-end">
                <!-- <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                      Log in
                    </a>
                  </div>
                </div> -->
              </div>
            </div>
          </nav>
          <div class="container">{% block content %}{% endblock %}</div>
    </body>
</html>