{% extends 'base.html' %}
{% block content %}

<h1>Recommend A State Park</h1>

<!-- <form class="mb-5" action="{% url 'recommend_state_place_create' state.pk %}" method="post">
    {% csrf_token %}
    <div class="control">
        <input
            class="input"
            type="text"
            name="name"
            placeholder="Park Name"
            required
        />
    </div>
    <div class="control">
        <input
            class="input"
            type="text"
            name="image"
            placeholder="Image URL"
            required
        />  
    </div>
    <div class="control">
        <input
            class="input"
            type="text"
            name="placetype"
            placeholder="Type of park"
            required
        />
    </div>
    <div class="control">
        <input
            class="input"
            type="text"
            name="description"
            placeholder="Description"
            required
        />
    </div>
    <div class="control">
        <input
            class="input"
            type="text"
            name="state"
            placeholder="{{state.name}}"
            required
        />
    </div>
    <div class="control">
        <input class="button is-primary" type="submit" value="Add Recommendation" />
    </div>
</form> -->

{% endblock %}