{% extends 'base.html' %}
{% block content %}

<div class="detail__img">
    <img src="{{state.image}}" alt="{{state.name}}" />
</div>
<h1 class="title">{{state.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
  <div class=" mb-5">
    <h3 class="title is-3">Parks</h3>

    {% for place in state.places.all %}
    <div class="place">
      <!-- <span>{{forloop.counter}}</span> -->
      <span><img src="{{place.image}}"></span><br />
      <span>{{place.placetype}}</span><br />
      <span><b>{{place.name}}</b></span><br />
      <span>{{place.description}}</span><br />
      <hr>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Places Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
<!--  above about section  -->
    <!-- <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{state.bio}}</p>
    </div> -->
</div>

{% endblock %}