{% extends 'base.html' %}
{% block content %}

<div class="detail__img">
    <img src="{{territory.image}}" alt="{{territory.name}}" />
</div>
<h1 class="title">{{territory.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'territory_update' territory.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'territory_delete' territory.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class=" mb-5">
    <h3 class="title is-3">Parks</h3>

    {% for territoryplace in territory.territoryplaces.all %}
    <div class="place">
      <!-- <span>{{forloop.counter}}</span> -->
      <span><img src="{{territoryplace.image}}"></span><br />
      <span>{{territoryplace.placetype}}</span><br />
      <span><b>{{territoryplace.name}}</b></span><br />
      <span>{{territoryplace.description}}</span><br />
      <hr>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Places Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
    <!-- <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{territory.bio}}</p>
    </div> -->
</div>

{% endblock %}